.wrapper {
    min-width: 320px;
    margin: 0 auto;
    padding: 20px 0;
    @media (min-width: 480px) and (max-width: 768px) {
        width: 480px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        width: 780px;
    }
    @media (min-width: 1024px) {
        width: 1000px;
    }
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../img/page-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: calculateRem(14px);;
}