@font-face {
  font-family: 'Dorsa';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Dorsa-Regular.woff') format('woff')
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Bold.woff') format('woff')
}

@font-face {
  font-family: 'PathwayGothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PathwayGothicOne-Regular.woff') format('woff')
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf')
}
@font-face {
  font-family: 'OpenSansCondest';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSansCondensed-Light.ttf') format('ttf')
}
