.head_menu-list {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: calculateRem(50px);
    @media (min-width: 1024px) {
        flex-wrap: nowrap;
    }
}
.head_menu-item {

    font-size: calculateRem(20px);
    text-transform: uppercase;
    color: $color-white;
    padding: calculateRem(10px) calculateRem(5px);

    @media (min-width: 768px) {
        font-size: calculateRem(24px);
    }
}
.head_menu-item > a {
    color: $color-white;
    font-family: PathwayGothic, Arial, sans-serif;
    transition: .2s linear;
    &:hover {
        color: $dark-blue;
        transition: .2s linear;
    }
}
.head_menu-item:nth-child(1) {
    order: 1;
    @media (min-width: 769px) {
        order: 5;
        margin: 0  0 70px 0 !important;
}
}
.head_menu-item:nth-child(2) {
    order: 2;
}
.head_menu-item:nth-child(3) {
    order: 3;

}
.head_menu-item:nth-child(4) {
    order: 4;
}
.head_menu-item:nth-child(5) {
    order: 5;
}
.head_menu-item:nth-child(6) {
    order: 6;
}
.head_menu-item:nth-child(7) {
    order: 7;
}
#main-link {
    text-align: center;
    margin: 0 auto;
    margin-bottom: calculateRem(70px);
    
}
#main-link > a {
    background-color: #fff;
    border-radius: 50%;
    padding: calculateRem(43px) calculateRem(20px);
    font-size: calculateRem(33px);
    font-family: PathwayGothic, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-blue;
    transition: .2s linear;
    &:hover {
        box-shadow: calculateRem(2px) calculateRem(2px) calculateRem(15px) rgb(97, 97, 97);
        transition: .2s linear;
    }
}

@media (max-width: 768px) {
    #main-link {
            flex-basis: 100%
}
    .head_menu-item {
            flex-basis: 30%;
            text-align: center;
    }

}

.submenu {
    position: absolute;
    left: 50%;
    transform: translate(-50%,8%);
    display: none;
    
}
.submenu_list {
    background-color: $color-white;
    width: calculateRem(100px);
    padding: calculateRem(10px) 0;
    border-radius: calculateRem(2px);
    text-align: center;
    font-size: calculateRem(16px);
    transition: .2s linear;
    &:hover > a {
        color: rgb(250, 85, 85);
        transition: .2s linear;
    }
    &:nth-child(1)::before {
        display: block;
        content: "";
        width: calculateRem(10px);
        height: calculateRem(10px);
        background-color: $color-white;
        position: absolute;
        top: calculateRem(-4px);
        
        left: 50%;
        transform: rotate(45deg);
    }
}

.submenu_list > a {
    color: $dark-blue;
}
#submenu_main {
    position: relative;
    &:hover .submenu {
        display: block;
        z-index: 100;
    }
}
